html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.game {
  max-width: 365px;
  margin: 65px auto;
}

/* header */

.game__picture {
  width: 100%;
  border-radius: 10px 10px 0 0;
  vertical-align: bottom;
}

/* main content */

.game__description {
  color: #ffffff;
  background-color: #283e50;
  padding: 5px 40px 20px 40px;
}

.game__title {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}

.game__text {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

/* buttons */
.button {
  display: block;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 1em 0 1em 0;
}

.rule {
  background-color: #1fcca4;
}
.rule:hover {
  background-color: #1cbb96;
}
.start {
  background-color: #0197f6;
  border-top: 1px solid #283e50;
}

.start:hover {
  background-color: #0090e9;
}

/* Pravidla  */

.game__rule {
  margin: 65px auto;
  max-width: 400px;
}

.circle,
.cross {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
}

li {
  text-align: left;
  line-height: 2;
  padding-left: 10px;
  padding-bottom: 10px;
}

.game__rules {
  margin-left: 30px;
}

.pict {
  width: 100%;
  padding-top: 40px;
}

/* media query */

@media screen and (min-width: 800px) {
  .game__rule {
    max-width: 700px;
  }

  .game__images {
    display: flex;
    flex-wrap: wrap;
  }
  figure {
    flex: 1 1 50%;
  }

  figcaption {
    font-size: 0.75em;
  }

  figure:nth-child(odd) {
    padding-right: 30px;
  }

  figure:nth-child(even) {
    padding-left: 30px;
  }

  figure:nth-child(5n) {
    padding-bottom: 30px;
  }
}

@media screen and(min-width:1200px) {
  .game {
    max-width: 900px;
  }
}
