html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 100%;
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
}

.game {
  max-width: 365px;
  margin: 65px auto;
}

/* header */

.header_picture {
  width: 100%;
  border-radius: 10px 10px 0 0;
  vertical-align: bottom;
}

/* main content */

.description{
    color: #ffffff;
    background-color: #283e50;
    padding: 30px 15px;
  }

.title{
  font-family: 'Lobster', cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.5em;
}

.text{
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

/* buttons */
.button{
  display:block;
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 1em 0 1em 0;
}

.rule{
  background-color: #1fcca4;
}
.rule:hover{
  background-color: #1cbb96;
}
.start{
  background-color: #0197f6;
  border-top: 1px solid #283e50;
}

.start:hover{
  background-color: #0090e9;
}
